<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- custom gazebo arguements-->
  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/> 
  <arg name="debug" default="false"/>
  <include file="$(find description_pkg)/launch/depth_proc.launch"/>
  
  <!--World File-->
  
  <arg name="world_name" value="$(find description_pkg)/worlds/wall.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


	<!-- Find my robot Description-->
	<param name="robot_description" command="$(find xacro)/xacro '$(find description_pkg)/urdf/robot.xacro'"/>

	<node name="myrobot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model myrobot" />

  <!--
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-file $(find robot_description_pkg)/urdf/robot.xacro -urdf -model myrobot"/>
 -->
   
  <!-- Send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
 <!--  
  <node name="rviz" pkg="rviz" type="rviz" /> 

-->

</launch>

